:root {
    --primary-color: #1481e7; /* Sample primary color */
    --secondary-color: brown;
    --text-color: #333;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    background-color: aliceblue;
  }
  
  header img {
    width: 100%;
    background-color: #004f98;
    padding: 20px;
    }

  h1{
    text-align: center;
  }
  #hero-small{
    justify-items: center;
  }
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
}
  #data{
    text-align: center;
    background-color: #004f98;
    color: antiquewhite;
    align-content: center;
    border: 15px;
    font-size: medium;
  }
  
   h2 {
    position: relative;
    display: inline-block;
    text-align: center;
    background-color:rgb(34, 66, 34);
    color:white;
  }
  
  footer{
    background-color: brown;
    text-align: center;
    color: antiquewhite;
    max-width: auto;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1.1rem;
    font-size: larger;
  }
  
  
  