body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #babfdb;
    color: #30292f;
}

header {
    background-color: #5f5aa2;
    color: white;
    padding: 1em 0;
}

.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    margin: 0 15px;
}

.nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}

footer {
    background-color: #413f34;
    color: white;
    text-align: center;
    padding: 1em 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}