* {
	box-sizing: border-box;
}

* body {
	font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 15px;
	font-size: 1.2rem;
	color: white;
	text-align: center;
	background-color: #184e77;
	border-radius: 15px 0px 15px;
}

h1 {
	font-size: 2.1rem;
	text-align: center;
	padding: 1rem;
	margin: 0;
}

h2 {
	text-align: center;
	padding: 2rem;
	border: 2px;
	margin-top: 3rem;
	background-color: rgba(1, 1, 23, 0.77);
	;
}

nav {
	background-color: #08083fac;
	padding: 1px;
	font-size: 1.2rem;
	grid-column: 1/6;
	justify-content: space-around;
	display: flex;
}

nav a {
	display: block;
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

.card_1 {
	grid-column: 1/5;
	border: 2px solid rgb(162, 158, 158);
	border-radius: 15px;
	padding: 5px;
	margin: 20px;
	gap: 1px;
	list-style: none;
}

.card_2 {
	grid-column: 5/6;
	border: 2px solid rgb(162, 158, 158);
	border-radius: 15px;
	padding: 5px;
	margin: 20px;
	gap: 3px;
	list-style: none;
}

.title_card {
	font-size: 2.5rem;
	color: white;
	text-align: center;
	background-color: #184e77;
	border-radius: 15px 15px 0 0;
	margin: auto;
}

h3 {
	text-align: center;
}

footer {
	grid-row: auto;
	grid-column: 1/5;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	background-color: #184e77;

}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

#picture {
	position: relative;
	right: 0px;
}

#flag {
	position: relative;
	right: 20px;
}

/* Larger Views ******************************/
@media (min-width: 640px) {
	nav ul {
		display: grid;
	}

	nav ul li {
		grid:flex;
	}
}