body{
    font-family: Roboto;
}
header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    border:1px solid ;
    padding: 1rem;
    background-color: #498ad0;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
section{
    padding: 1rem;
    background-color: #fff;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v32/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}